/* css reset */
@import('stylus/reset')
/* reset css */

/* Font Imports */

@import('stylus/mixins')
$main_bg = #e4ddb3
$main_bdr = darken(#e4ddb3, 25%)
$main_fg = #22293b

$white = #fff

$gutter = 1.5rem

$main_width = 960px

$nav_height = 5rem

html, body, main, nav
	box-sizing border-box
html 
	background-color $white
	font-size 16px
	@media(max-width 480px)
		background-color $main_bg !important


body, main, html
	padding 0
	margin 0
	

body
	font-family Lora
	position relative
	padding-top $nav_height
h1, h2, h3, h4, h5, h6
	font-weight bold
/* Declare block level elements */
header, main, article, section, aside, form, nav
	display block


main 
	border(red, 5px)
	display flex
	flex-direction column
	max-width $main_width
	margin auto
	background-repeat no-repeat
	background-position left 50px bottom 100px
	background-color $main_bg
	background url('../img/icon-bicycle.png')
	background-repeat no-repeat
	@media (max-width 480px)
		background-position bottom $gutter left $gutter
		background-size 75%
		min-height 450px
	@media (min-width 480px)
		min-height 600px
		margin-top $nav_height
		border($main_bdr, 1px)
		border-radius 0.25 * $gutter
		box-shadow: 5px 5px 5px 0px rgba($main_fg, .5);
		background-position left $gutter bottom $gutter
		background-size 60%
		background-color $main_bg
	h1
		color $main_fg
		padding-left $gutter
		padding-top $gutter
		@media(max-width 480px)
			font-size 2em
		@media(min-width 480px)
			font-size 5em

form 
	align-self flex-end
	font-size 1.25em
	p
		padding-bottom .5em
	input[type=text], input[type=password]
		border-radius 5px
		border(#ccc)
		font-size 1.25em
		// margin-right $gutter
	label 
		display block
		width 5em
		margin-left 5%
		margin-bottom 0.3em
		// border(black)
	@media(max-width 480px)
		margin-left 10px
		width 100%
		padding-top .5 * $nav_height
		input[type=text], input[type=password]
			padding 0
			margin-left $gutter
			margin-right $gutter
			width 90%
		label
			margin-left $gutter
	@media(min-width 480px)
		padding-right $gutter
		padding-top 2 * $nav_height
		
nav
	border(green, 5px)
	height $nav_height
	position absolute 
	top 0
	right 0
	color $white
	background-color $main_fg
	padding 0
	margin 0
	width 100%
	ul
		position relative
		padding-top 0
		margin 0 auto
		max-width $main_width
		// padding-right $gutter	
		padding-top $gutter
		padding-bottom $gutter
		display flex
		justify-content flex-end
		display flex
		align-items: center;
		li
			margin 0
			@media(min-width 480px)
				margin-left 1em
			flex-wrap: nowrap
			justify-content flex-end
			&:first-of-type
				position absolute
				left 0
				margin-left 0
			a
				height 40px
				width 40px
				display block
				color $white
				text-decoration none
				background-repeat no-repeat !important
				color rgba($main_fg, 0)
			&:hover
				background-color: rgba($white, 0.25)
				border-radius 2px
			a.linkJoin
				background url('../img/icon/math_icon_068.png')
				color $white
				min-width 70px
				left 0
				padding-left 45px
				padding-top 5px
				font-size 30px
			a.linkHome
				background url('../img/icon/home_icon_195.png')
			a.linkSettings
				background url('../img/icon/settings_icon_186.png')
			a.linkMap
				background url('../img/icon/map_icon_190.png')
			a.linkProfile
				background url('../img/icon/card_icon_266.png')
			a.linkInfo
				background url('../img/icon/info_icon_252.png')
				
