/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquotebefore,
blockquoteafter,
qbefore,
qafter {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* reset css */
/* Font Imports */
zoom 1,
:after,
:before,
content "",
display table,
clear both,
margin($em=0.4em) {
  margin: 0.4em 0 0.4em;
}
@font-face {
  font-family: 'Caladea';
  src: url("../fonts/caladea-regular.ttf"), url("../fonts/caladea-italic.ttf"), url("../fonts/caladea-bold.ttf"), url("../fonts/caladea-bolditalic.ttf");
}
html,
body {
  min-height: 65vh;
  max-width: 100% !important;
  overflow-x: hidden !important;
}
html,
body,
main,
nav,
ul,
li,
a,
p,
input {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  color: #22293b;
  background-color: #e4ddb3;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
html,
body,
main,
nav {
  width: 100%;
  margin: 0;
  padding: 0;
}
google-map {
  margin-top: 2.25rem;
  margin-bottom: 1em;
  height: 400px;
  border-top: 1px solid #c9bb68;
  border-right: 1px solid #c9bb68;
  border-bottom: 1px solid #c9bb68;
  border-left: 1px solid #c9bb68;
}
@media (max-width: 479px) {
  main,
  footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 480px) {
  main,
  footer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
html,
input {
  font-family: 'Caladea', 'Cambria', 'Georgia', serif;
}
main {
  position: relative;
  min-height: 614.4000000000001px;
  padding-top: 3.75rem;
  padding-bottom: 7.5rem;
  margin-bottom: 1.5rem;
  background-image: url("../img/icon-bicycle.png");
  background-repeat: no-repeat;
  background-position: top 3.75rem right 1.5rem;
  background-size: 183.6px 114.75px;
}
main p {
  margin-bottom: 0.75rem;
  font-size: 1.15rem;
  line-height: 1.5em;
}
nav,
footer {
  height: 3rem;
}
nav {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #22293b;
}
nav ul {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
nav ul li {
  padding: 0;
  margin-top: 0;
}
nav ul li:last-of-type {
  margin-right: 1.5rem;
}
@media (max-width: 479px) {
  nav ul li:last-of-type {
    margin-right: 1px;
  }
}
nav ul li a.linkJoin {
  margin-left: 1.5rem;
  position: absolute;
  left: 0;
  background: url("../img/icon/math_icon_068.png");
  color: #fff;
  min-width: 3.5em;
  left: 0;
  padding-left: 40px;
  font-size: 1.95rem;
  line-height: 1.3em;
}
@media (max-width: 479px) {
  nav ul li a.linkJoin {
    margin-left: 1px;
  }
}
nav ul li a.linkHome {
  background: url("../img/icon/home_icon_195.png");
}
nav ul li a.linkSettings {
  background: url("../img/icon/settings_icon_186.png");
}
nav ul li a.linkMap {
  background: url("../img/icon/map_icon_190.png");
}
nav ul li a.linkProfile {
  background: url("../img/icon/card_icon_266.png");
}
nav ul li a.linkInfo {
  background: url("../img/icon/info_icon_252.png");
}
nav ul li a {
  height: 40px;
  width: 40px;
  display: block;
  color: #fff;
  text-decoration: none;
  background-repeat: no-repeat !important;
  background-position: left center;
  color: rgba(34,41,59,0);
}
nav ul li a:hover {
  background-color: rgba(255,255,255,0.25);
  border-radius: 5px;
}
footer {
  margin-top: 1.5rem;
  text-align: center;
  width: 100%;
  display: block;
  bottom: 0;
  left: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(34,41,59,0.2);
}
footer p {
  display: block;
  padding-top: 0.75rem;
  line-height: 1.75em;
  font-size: 1.05em;
}
h1,
h2,
h3 {
  display: block;
}
h1 {
  font-size: 3rem;
  line-height: 3.375rem;
  font-weight: 700;
}
h2 {
  font-size: 2.25rem;
  line-height: 3.375rem;
  color: #394563;
}
h3 {
  font-size: 1.875rem;
  line-height: 1.5em;
  font-weight: bold;
}
form {
  padding-top: 1.5rem;
}
label {
  display: block;
  line-height: 1.75em;
}
input,
label,
button[type=submit] {
  font-size: 1.5rem;
}
input {
  border-top: 1px solid #c9bb68;
  border-right: 1px solid #c9bb68;
  border-bottom: 1px solid #c9bb68;
  border-left: 1px solid #c9bb68;
}
button[type=submit] {
  display: block;
  margin-top: 1.5rem;
  line-height: 2.25rem;
  color: #e4ddb3;
  font-weight: regular;
  background-color: #22293b;
  border-top: #22293b;
  border-left: #22293b;
  border-bottom: #22293b;
  border-right: #22293b;
}
p {
  width: 100%;
}
input[type=text],
input[type=email],
input[type=password],
button[type=submit] {
  width: 100%;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  margin-bottom: 0.1875rem;
  border-radius: 5px;
}
@media (max-width: 960px) {
  header {
    margin: -1.5rem;
    padding: 1.5rem;
    height: 6rem;
  }
}
@media (max-width: 960px) and (max-width: 480px) {
  header {
    background-color: rgba(255,255,255,0.4);
  }
}
@media (min-width: 960px) {
  body {
    position: relative;
    background-color: #fff;
  }
  nav ul {
    width: 1000px;
    margin: 0 auto;
  }
  main {
    max-width: 940px;
    background-color: #e4ddb3;
    margin: 4.5rem auto;
    border-radius: 1.5rem;
    border-top: 1px solid #c9bb68;
    border-right: 1px solid #c9bb68;
    border-bottom: 1px solid #c9bb68;
    border-left: 1px solid #c9bb68;
    background-repeat: no-repeat;
    background-position: bottom 50% left 1.5rem;
    background-size: 387.59999999999997px 242.25px;
  }
  main p.text,
  main h3 {
    padding-bottom: 0 !important;
    width: 50%;
    margin-left: 49%;
  }
  footer {
    position: absolute;
  }
  h1 {
    font-size: 4.875rem;
  }
  h2 {
    font-size: 4.125rem;
    line-height: 6rem;
  }
  form {
    min-height: 430px;
    max-width: 45%;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
@media (min-width: 480px) {
  p.submit {
    padding-top: 1.5rem;
  }
  input[name=firstName],
  input[name=lastName],
  input[name=password],
  input[name=passwordConfirm] {
    width: 49%;
    display: inline !important;
  }
  input[name=firstName],
  input[name=password] {
    float: left;
  }
  input[name=lastName],
  input[name=passwordConfirm] {
    float: right;
  }
}
