/* css reset */
@import('stylus/reset')
/* reset css */

/* Font Imports */

@import('stylus/mixins')

// Page colours
$main_fg = #22293b
$main_bg = #e4ddb3
$main_border = darken(#e4ddb3, 25%)

$white = #fff

// Grid gutter
$gutter = 1.5rem

//Breakpoints
$bp_xs = 480px
$bp_sm = 768px
$bp_md = 960px
$bp_lh = 1200px
$bp_xl = 1800px


$max_width = 960px

$nav_height = 5rem

@font-face 
	font-family 'Caladea'
	src: url('../fonts/caladea-regular.ttf'), 
	url('../fonts/caladea-italic.ttf'),
	url('../fonts/caladea-bold.ttf'),
	url('../fonts/caladea-bolditalic.ttf')

html, body {
	min-height 65vh
    max-width: 100% !important
    overflow-x: hidden !important
}

html, body, main, nav, ul, li, a, p, input
	box-sizing border-box
body
	min-height 100vh
	color $main_fg
	background-color $main_bg
	font-size 16px
	padding 0
	margin 0

html, body, main, nav
	width 100%
	margin 0
	padding 0

google-map
	margin-top 1.5 * $gutter
	margin-bottom 1em
	height 400px
	border($main_border)

@media(max-width -1 + $bp_xs)
	main, footer
		padding-left 10px
		padding-right 10px
	
@media(min-width $bp_xs)
	main, footer
		padding-left $gutter
		padding-right $gutter

html, input
	font-family 'Caladea', 'Cambria', 'Georgia', serif

main
	position relative
	min-height 0.8 * $bp_sm
	padding-top 2.5 * $gutter
	padding-bottom 5 * $gutter
	margin-bottom $gutter
	background-image url(../img/icon-bicycle.png)
	background-repeat no-repeat
	background-position top 2.5 * $gutter right $gutter
	background-size 0.45 * 408px 0.45 * 255px
	p
		margin-bottom 0.5 * $gutter
		font-size 1.15rem
		line-height 1.5em

nav, footer		
	height 2 * $gutter
nav
	position absolute 
	top 0
	display flex
	flex-direction column
	justify-content center
	background $main_fg
	ul
		position relative
		display flex
		justify-content flex-end
		li
			padding 0
			margin-top 0
			&:last-of-type
				margin-right $gutter
				@media(max-width -1 + $bp_xs)
					margin-right 1px
			a.linkJoin
				margin-left $gutter
				@media(max-width -1 + $bp_xs)
					margin-left 1px
				position absolute
				left 0
				background url('../img/icon/math_icon_068.png')
				color $white
				min-width 3.5em
				left 0
				padding-left 40px
				font-size 1.3 * $gutter
				line-height 1.3em
			a.linkHome
				background url('../img/icon/home_icon_195.png')
			a.linkSettings
				background url('../img/icon/settings_icon_186.png')
			a.linkMap
				background url('../img/icon/map_icon_190.png')
			a.linkProfile
				background url('../img/icon/card_icon_266.png')
			a.linkInfo
				background url('../img/icon/info_icon_252.png')
			a
				height 40px
				width 40px
				display block
				color $white
				text-decoration none
				background-repeat no-repeat !important
				background-position left center 
				color rgba($main_fg, 0)
				&:hover
					background-color: rgba($white, 0.25)
					border-radius 5px

footer
	margin-top $gutter
	text-align center
	width 100%
	display block
	bottom 0
	left 0
	padding-top 0
	padding-bottom 0
	background-color rgba($main_fg, 0.2)
	p
		display block
		padding-top 0.5 * $gutter
		line-height 1.75em
		font-size 1.05em

h1, h2, h3
	display block
h1
	font-size 2* $gutter
	line-height 2.25 * $gutter
	font-weight 700
h2
	font-size 1.5 * $gutter
	line-height 2.25 * $gutter
	color lighten($main_fg, 15%)
h3
	font-size 1.25 * $gutter
	line-height 1.5em
	font-weight bold

form 
	padding-top $gutter
	
label 
	display block
	line-height 1.75em

input, label, button[type=submit]
	font-size 1.5rem

input
	border($main_border, 1px)

button[type=submit]
	display block
	clearfix()
	margin-top $gutter
	line-height 1.5 * $gutter
	color $main_bg
	font-weight regular
	background-color $main_fg
	border-top $main_fg
	border-left $main_fg
	border-bottom $main_fg
	border-right $main_fg

p 
	width 100%
	// padding-bottom $gutter
button
	clearfix()
		

input[type=text], input[type=email], input[type=password], button[type=submit]
	width 100%
	padding-top 0.25 * $gutter
	padding-bottom 0.25 * $gutter
	padding-left 0.25 * $gutter
	padding-right 0.25 * $gutter
	margin-bottom 0.125 * $gutter
	border-radius 5px
		
@media(max-width $bp_md)
	header
		margin -1 * $gutter
		padding $gutter
		height 4 * $gutter
		@media(max-width $bp_xs)
			background-color rgba($white, 0.4)

@media(min-width $bp_md)
	body 
		position relative
		background-color white
	nav ul
		width 1000px
		margin 0 auto
	main
		max-width 940px
		background-color $main_bg
		margin 3 * $gutter auto
		border-radius $gutter
		border($main_border)
		background-repeat no-repeat
		background-position bottom 50% left $gutter
		background-size 0.95 * 408px 0.95 * 255px
		p.text, h3
			padding-bottom 0 !important
			width 50%
			margin-left 49%
	footer 
		position absolute
	h1 
		font-size 3.25 * $gutter
	h2 
		font-size 2.75 * $gutter
		line-height 4 * $gutter
	form 
		min-height 430px
		max-width 45%
		position absolute
		bottom $gutter
		right $gutter
@media(min-width $bp_xs)
	p.submit
		padding-top $gutter
	input[name=firstName],input[name=lastName], input[name=password], input[name=passwordConfirm]
		width 49%
		display inline !important
	input[name=firstName], input[name=password]
		float left
	input[name=lastName], input[name=passwordConfirm]
		float right